<?xml version="1.0" encoding="utf-8"?>
<!--
Ce fichier est utilisé par le processus de publication/package de votre projet Web. Vous pouvez personnaliser le comportement de ce processus
en modifiant ce fichier MSBuild. Pour en savoir plus à ce sujet, consultez la page http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://mvcspapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>mvcspapp.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>MvcSpApp</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$MvcSpApp</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:i0qu8qkoxb.database.windows.net,1433;Initial Catalog=MvcSpApp_db;Persist Security Info=True;User ID=cloudDbAdmin@i0qu8qkoxb;Password=Aa1234567;Encrypt=True" Name="Data Source=tcp:i0qu8qkoxb.database.windows.net,1433;Initial Catalog=MvcSpApp_db;Persist Security Info=True;User ID=cloudDbAdmin@i0qu8qkoxb;Password=Aa1234567;MultipleActiveResultSets=True;Encrypt=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="MvcSpAppWeb.Models.ApplicationDbContext, MvcSpAppWeb" MigrationConfiguration="MvcSpAppWeb.Migrations.Configuration, MvcSpAppWeb" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:i0qu8qkoxb.database.windows.net,1433;Initial Catalog=MvcSpApp_db;Persist Security Info=True;User ID=cloudDbAdmin@i0qu8qkoxb;Password=Aa1234567;MultipleActiveResultSets=True;Encrypt=True</ParameterValue>
    </MSDeployParameterValue>
    <MsDeployDeclareParameters Include="ClientId">
      <Kind>XmlFile</Kind>
      <Scope>web.config$</Scope>
      <Match>/configuration/appSettings/add[@key='ClientId']/@value</Match>
      <Description>Value for ClientId here.</Description>
      <DefaultValue>fdcaa572-8941-46af-b3cd-dd17ce4007ed</DefaultValue>
      <Value>fdcaa572-8941-46af-b3cd-dd17ce4007ed</Value>
      <Tags>applicationSettings</Tags>
    </MsDeployDeclareParameters>
  <MsDeployDeclareParameters Include="ClientSecret">
            <Kind>XmlFile</Kind>
            <Scope>web.config$</Scope>
            <Match>/configuration/appSettings/add[@key='ClientSecret']/@value</Match>
            <Description>Value for ClientSecret here.</Description>
            <DefaultValue>b945JZkp8Qbymxg7/n7KDVl6QFeRkXgHbDhMx4GSjMM=</DefaultValue>
            <Value>b945JZkp8Qbymxg7/n7KDVl6QFeRkXgHbDhMx4GSjMM=</Value>
            <Tags>applicationSettings</Tags>
        </MsDeployDeclareParameters></ItemGroup>
</Project>